body{
        font-family: 'Roboto', sans-serif;
        margin: 0;
        padding: 0;    
}
.box{
    width: 450px;
    height: 250px;
    padding: 30px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 4px 4px 4px #a3a0a0;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}
.background-banner{
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 160px;
    padding-left: 100px;
    height: 100vh;
    width: 100%;
}
.btn {
  margin-left: 315px;
}


